# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
**/.mypy_cache/

# C extensions
*.so

# Open files
~$*

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
coverage/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Django stuff:
*.log
local_settings.py

# Sphinx documentation
docs/_build/
docs/api/
docs/reference/api/
.sphinx
public/
sphinx/api/
sphinx/savefig
docs/**/*.ipynb
docs/**/*.yml
docs/**/outputs
docs/example_notebooks/notebooks

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
venv/
ENV/
.venv/

# IDE settings
.vscode/
.vs/

# macOS
.DS_Store

# Repository development directories
.Trash-1000/
.DS_Store
/resources/
/secrets/
/secret/
/local/
/scratch/
/data/
/output/
/notebooks/output/
/notebooks/data/
example-notebooks/binary-classifier/*.yml
example-notebooks/binary-classifier/data/*
example-notebooks/binary-classifier/outputs/*

.seismometer_cache/
