numpy==2.0.2
numba==0.60.0

# All python
ipython==8.29.0
ipywidgets==8.1.5
jupyterlab==4.2.5
matplotlib==3.9.2
pandas==2.2.3
pydantic==2.9.2
pyarrow==18.0.0
scikit-learn==1.5.2
seaborn==0.13.2
ydata-profiling==4.12.0
