# >>> python 3.10 & 3.11
#aequitas==1.0.0

# numpy needs 1.26 starting at py3.12
numpy>=1.23.5

# All python
ipython==8.22.2
ipywidgets==8.0.4
jupyterlab==4.2.5
matplotlib==3.8.4
pandas==1.5.2
pydantic==2.6.4
pyarrow==16.1.0
scikit-learn==1.2.0
seaborn==0.13.2
ydata-profiling==4.8.3
numba<0.59
