<style>
    td, th {
        text-align: left !important;
    }
</style>
<div style="{{ display_style }}">
    <h3>Summary</h3>
    The preloaded data covers {{ num_predictions }} predictions over {{ num_entities }} entities from the dates {{ start_date }} to {{ end_date }}.
    <table>
        <thead>
            <tr>
            <th>Dataframe Name</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Content</th>
            </tr>
        </thead>
        {% for table in tables %}
        <tr>
        <td><code>{{ table["name"] }}</code></td>
        <td>{{ table["num_rows"] }}</td>
        <td>{{ table["num_cols"] }}</td>
        <td>{{ table["description"] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if plot_help %}
    <h4>Plot Functions</h4>
    <ul>
        <li><code>sm.ExploreModelEvaluation()</code> - Overall performance across thresholds</li>
        <li><code>sm.ExploreCohortEvaluation()</code> - Performance split by specified cohort</li>
        <li><code>sm.ExploreCohortOutcomeInterventionTimes()</code> - Compare trends of interventions to outcomes</li>
    </ul> 
    {% endif %}
</div>
